# shared collections and roles are in this folder
# https://docs.ansible.com/ansible/latest/reference_appendices/config.html#collections-paths
export ANSIBLE_COLLECTIONS_PATH="${PWD}"
export ANSIBLE_ROLES_PATH="${PWD}/roles"

# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/ssh_connection.html
export ANSIBLE_SSH_PIPELINING="True"
export ANSIBLE_SCP_IF_SSH="True"

# force ansible to use the correct python interpreter
# https://docs.ansible.com/ansible/latest/reference_appendices/interpreter_discovery.html
export ANSIBLE_PYTHON_INTERPRETER="/usr/bin/env python3"

# ansible stdout compact logger
# https://github.com/octplane/ansible_stdout_compact_logger
export ANSIBLE_CALLBACK_PLUGINS="${PWD}/anstomlog/callbacks"
export ANSIBLE_LOAD_CALLBACK_PLUGINS="True"
export ANSIBLE_STDOUT_CALLBACK="anstomlog"
